.top-area.site-block
  .row
    .small-3.show-for-small-only.end.columns#top-image
      = image_tag("https://www.thehvca.co.uk/wp-content/uploads/2017/03/rocket-icon.png")
  .row
    .small-12.medium-5.columns.headers
      %p.bigger-p
        Introducing
      %h1
        Dev Start
      %p
        Professional Developers preparing your children for a future in technology.
      .row
        .small-12.columns
          .button
            SIGN UP NOW
    .small-12.hide-for-small-only.medium-3.medium-offset-1.columns#image
      = image_tag("https://www.thehvca.co.uk/wp-content/uploads/2017/03/rocket-icon.png")
    %hr
.middle-area
  .row
    .small-12.small-centered.columns
      %h1
        Why Choose Dev Start?
  %hr
  .reasons
    .row
      .small-12.medium-4.columns
        %h4
          Professional Instructors
        %p
          We are a team of software engineers with computer science backgrounds who currently work for Careerbuilder.
          We have a passion for building great software and want to inspire the next generation of engineers and programmers.
      .small-12.medium-4.columns
        %h4
          Excellent Education
        %p
          Building a solid foundation of software development principles will enable your child to pursue any area of technology.
          We will be teaching with verified courses and resources that are used at major universities.
      .small-12.medium-4.columns
        %h4
          Affordable and Dependable
        %p
          Our ultimate goal is to inspire at least one child to go into technology and give them a foundation that will help them succeed.
          We are going to make these courses both affordable and excellent.