.top-area.site-block
  .row
    .small-12.medium-5.end.columns.headers
      %p
        Introducing
      %h1
        Dev Start
      %p
        Inspiring and empowering children for a future in technology.
.middle-area
  .row
    .small-12.small-centered.columns
      %h1
        Why Choose Dev Start?
