.top-area.site-block
  .row
    .small-3.show-for-small-only.end.columns#top-image
      = image_tag("https://www.thehvca.co.uk/wp-content/uploads/2017/03/rocket-icon.png")
  .row
    .small-12.medium-5.columns.headers
      %p.bigger-p
        Introducing
      %h1
        Dev Start
      %p
        Inspiring and empowering children for a future in technology.
      .button
        SIGN UP NOW
    .small-12.hide-for-small-only.medium-3.medium-offset-1.columns#image
      = image_tag("https://www.thehvca.co.uk/wp-content/uploads/2017/03/rocket-icon.png")
    %hr
.middle-area
  .row
    .small-12.small-centered.columns
      %h1
        Why Choose Dev Start?
