.successful-signup
  .row
    .small-10.small-centered.columns
      .row
        .small-3.show-for-small-only.end.columns#top-image
          = image_tag("https://www.thehvca.co.uk/wp-content/uploads/2017/03/rocket-icon.png")
      .row
        .small-12.columns.show-for-small-only
          %h3
            Thank you for your interest in
          %h1
            Dev Start!
        .small-7.hide-for-small-only.columns
          %h3
            Thank you for your interest in
          %h1
            Dev Start!
        .small-3.hide-for-small-only.columns#image
          = image_tag("https://www.thehvca.co.uk/wp-content/uploads/2017/03/rocket-icon.png")
  .row
    .small-10.small-centered.columns
      %hr
        %p
          We are so excited to begin this adventure with you and your child.
          We both want your child to be the absolute best programmer possible.
          We will email you as soon as we have reviewed your submission with
          further information regarding upcoming classes.
      =link_to('Back to Homepage', '/', class: 'button')
